# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.coverage
.pytest_cache/

# Env & secrets
.env
.env.*
storage_state.json

# Virtual envs
.venv/
env/
venv/

# Editor/OS junk
.vscode/
.idea/
.DS_Store

# Playwright/Cache
playwright/.cache/
